
<mat-accordion  *ngIf="posts.length > 0">
<mat-expansion-panel *ngFor="let post of posts">

<mat-expansion-panel-header>
  {{post.title}}
</mat-expansion-panel-header>

<p>{{post.content}}</p>
<mat-action-row *ngIf = "userIsAuthenticated && userId === post.creator">
<a mat-icon-button color ="primary">
<mat-icon  [routerLink]="['/edit', post.id]">edit</mat-icon>
</a>
<button mat-icon-button color ="warn">
<mat-icon (click)="onDelete(post.id)" >done</mat-icon>
</button>
</mat-action-row>
</mat-expansion-panel>
</mat-accordion>
<p class= "mat-body-1" *ngIf="posts.length <= 0">You have no task</p>
